img, embed, object, video, picture {
    max-width: 100%; 
  }
  
  
  html {
    box-sizing: border-box; 
  }
  
  *, *::before, *::after {
    box-sizing: inherit; 
  }
  
  
  body, p, h1, h2, h3, h4, h5 {
     margin: 0px; 
     padding: 0px;
  }
  
  
  .hidden {
     display: none;
  }
  
  .box {
     background-color: #6A8FFF;
     color:white;
     border-radius: 15px;
     padding: 15px;
     text-align: center;
     margin-top: 10px;
     margin-bottom:10px;
   }
  
   .space {
    margin-top: 30px;
   }

   .navigate {
    background-color: #CAE949;
    height: auto;
   }

   .back {
    background-color: #B0ECFF;
    padding-bottom: 20px;
    padding-top: 20px;
   }

 

   .footer {
    background-color: #6A8FFF;
    height: 200px;
    color: #CAE949;
    
   }
  
a {
    color: white;
}

.kanit {
    font-family: "Kanit", sans-serif;
}

.inika {
    font-family: "Inika", sans-serif;
}

#info-con {
    display: contents;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}